.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primario);
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

.login-container input:focus {
    border-color: var(--color-secundario);
    box-shadow: 0 0 4px var(--color-secundario);
}

.login-container .btn {
    padding: 12px;
    background-color: var(--color-secundario);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container .btn:hover {
    background-color: #444;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: var(--color-secundario);
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #333;
}
.auth-buttons{
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.btn-signup {
    background-color: var(--color-secundario);
    color: white;   
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: auto;
    margin-top: 0; 
}

.btn-signup a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.btn-signup a:hover {
    text-decoration: underline;
    color: #333;
}